nav{
    background-color: #FF7171;
    height:10vh;
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;

}
.divm{
    background-color:pink;
    height:max-content;
}
body{
    margin:0;
}
.imst{
    height: 6vh;
}